<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>answer</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/newbie.css' %}">
	</head>
	<body>
	<div style="text-align: center; ">
        <br><br>
		<form action="/" method="get">
			<img alt="cat" src="/static/img/cat_example.jpg" width="400" />
			<br><br><br><h2>Well done!!</h2><br><br>
			<button name="return" type="submit" value="Submit" style="text-align:center;width:90px;height:30px;border-radius: 8px;">Return</button>
        </form>
	</div>
    </body>
</html>
