<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Messages</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/messageback.css' %}">
    </head>
    <body>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div style="text-align: center; ">
        <table style="margin:auto">

                <tr class="danger">
                    <th>Time</th>
                    <th>Name</th>
                    <th>Figure Name</th>
                    <th>Content</th>
                </tr>

            <tbody>
                {% if messages %}
                    {% for message in messages %}
                        <tr class="{% cycle 'active' 'success' 'warning' 'info' %}">
                            <td>{{ message.publish|date:'Y-m-d H:i:s' }}</td>
                            <td>{{ message.username }}</td>
                            <td>{{ message.title }}</td>
                            <td>{{ message.content }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">None</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{#        <div style="text-align: center; ">#}
{#            <ul class="pagination">#}
{#            <li><a href="/message/?page=1">The first page</a></li>#}
{#                 {% if messages.has_previous %}#}
{#                        <li><a href="/message/?page={{ messages.previous_page_number }}">Last page</a></li>#}
{#                {% endif %}#}
{##}
{#                 {% for num in messages.paginator.page_range %}#}
{#                    <li><a href="/message/?page={{ num }}">{{ num }}</a></li>#}
{#                 {% endfor %}#}
{##}
{#                {% if messages.has_next %}#}
{#                     <li><a href="/message/?page={{ messages.next_page_number }}">Next page</a></li>#}
{#                {% endif %}#}
{#                <li><a href="/message/?page={{ messages.paginator.num_pages }}">The final page</a></li>#}
{#             </ul>#}
{#        </div>#}
{#        <!-- 分页结束 -->#}
<br><br><br><br>

        <div style="text-align: center; ">
        <form action="/" method="get">
            <button name="return" type="submit" value="Submit" style="text-align:center;width:90px;height:30px;border-radius: 8px;">Return</button>
        </form>
        </div>
    </body>
</html>
