<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Newbie</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/newbie.css' %}">
	</head>
    <body>
    <div id="left"></div>

    <div id="main">
        <div style="text-align: left;">
        <p><font size="4" face="arial" >
            You can upload your own photos via Upload page. When you upload your photo,
            you should input your username, the figure name, the content of this photo. <br><br>
        Please do not write the actual objects in the content. <br><br>
        Your friends or other strangers will choose your photos according to the
        content when they choose normal start. You can also choose the photos from others. <br><br>
            </font></p>
            <img alt="cat" src="/static/img/upload.jpg" width="700"/>
            <p><font size="4" face="arial" >
        If you choose normal start, you should write your username, figure name and choose the level.  <br> <br>
        </font></p>
            <img alt="cat" src="/static/img/nomal.jpg" width="700"/>
            <p><font size="4" face="arial" >
        If you choose random start, you should write your username, choose easy mode, medium mode, or hard mode. You will guess three photos in a row.
                If you want to play the easy mode, press the left cat after inputting your username.
                If you want to play the medium mode, press the middle cat after inputting your username.
                If you want to play the hard mode, press the right cat after inputting your username.<br> <br>
        </font></p>
            <img alt="cat" src="/static/img/random1.jpg" width="700"/>

        </div>
        <div class="footer" style="text-align:center;">
        <form action="/newbie2/" method="GET">
        {% csrf_token %}
        <button name="return" type="submit" value="Submit" style="text-align:center;width:90px;height:30px;border-radius: 8px;">Next</button>
        </form>

        <form action="/" method="GET">
        {% csrf_token %}
        <button name="return" type="submit" value="Submit" style="text-align:center;width:90px;height:30px;border-radius: 8px;">Return</button>
        </form>
    </div>
    </div>
    <div id="right">

    </div>

    </body>

</html>
