<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>timeout</title>
       {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/start1.css' %}">
</head>
<body>
<br><br><br><br>
<div style="text-align: center; ">
    <img alt="mask" src="/static/img/tryagain-red.gif" width="500"/><br><br><br><br><br><br><br><br><br>
    <form action="/" method="GET">
        <button name="return" type="submit" value="Submit" style="text-align:center;width:90px;height:30px;border-radius: 8px;">Return</button>
    </form>
</div>
</body>
</html>